.karts > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.karts > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: #000;
}

.karts .karts-kart-body {
    margin: 16px;
}

.karts .karts-kart-image {
    line-height: 0;
}

.karts .karts-kart-body > *:first-child {
    margin-top: 0;
}

.karts > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}